body{
    background-color: #86BBD8;
    font-family: 'Pacifico', cursive;
}
h1{
    font-size: 50px;
    padding-bottom: 20px;
    margin: 0;
    color: white;
}

#playInfo{
    text-align: center;
    height: 80px;
    color: white;
}

#gameArea{
    margin: 50px auto;
    text-align: center;
    width: 400px;
    height: 40%;
    border: 1px solid #14CC60;
    background-color: #14CC60;
    border-radius: 10px;
    padding: 50px;
    box-shadow: 1px 9px 22px 0px rgba(0,0,0,0.51);
}

table{
    width: 100%;
    border-spacing: 0px;
    border-collapse: collapse;
}

th, td{
    border: 3px solid white;
    width: 20%;
    height: 127px;
    font-size: 60px;
    text-align: center;
}

button{
    border: 2px solid white;
    border-radius: 5px;
    width: 50%;
    height: 50px;
    display: block;
    margin: 20px auto;
    background-color:#F1A208;
    font-size: 25px;
    color: white;
    font-family: 'Pacifico', cursive;
    transition: 0.3s;
    opacity: 0.8;
}

button:hover{
    opacity: 1;
    transform: scale(1.1);
}

button:active{
    background-color:#A1A208;
}

#credits{
    font-size: 15px;
    color: white;
}
